<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div th:switch="${categories}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <p class="my-5"><a href="/signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
            <h2 th:case="null">No category yet yet!</h2>
            <div th:case="*">
<!--
                <h2 class="my-5">Categories</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>ParentCategoryId</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.parent.id}"></td>

                        <td><a th:href="@{/edit/{id}(id=${category.id})}" class="btn btn-primary"><i
                                class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/delete/{id}(id=${category.id})}" class="btn btn-primary"><i
                                class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
-->
                <div class="container">
                    <div class="row">
                        <!--No subcategories-->
                        <!-- <nav class="side-menu">
                             <h3>Category</h3>
                             <ul>
                                 <li th:each="cat: ${categories}"><a th:href="@{/searchByCategory(categoryId=${cat.id})}"
                                                                     th:text="${cat.categoryName}"></a></li>
                             </ul>
                         </nav>-->

                        <div class="headerNav" xmlns:th="http://www.thymeleaf.org">
                            <div class="layout">
                                <dl class="all-brands">
                                    <dt class="all-brands-head"><a href="#">All product categories</a></dt>
                                    <dd class="all-brands-list">
                                        <div class="wrap" th:each="c : ${categories}">
                                            <div class="all-sort-list">
                                                <div class="item bo">
                                                    <a th:href="@{/searchByCategory(categoryId=${c.id})}"
                                                       th:text="${c.name}"></a>
                                                    <div class="item-list clearfix">
                                                        <div class="close">x</div>
                                                        <div class="subitem" th:each="s: ${c.subCategories}">
                                                            <dl class="fore1">
                                                                <a th:href="@{/searchByCategory(categoryId=${s.id})}"
                                                                   th:text="${s.name}"></a>
                                                                <dd>
                                                                    <em th:each="ss : ${s.subCategories} ">
                                                                        <a th:href="@{/searchByCategory(categoryId=${ss.id})}"
                                                                           th:text="${ss.name}"></a>
                                                                    </em>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>

                                </dl>

                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div>
</body>
</html>